.photo {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.photo__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 70vh;
}

.photo__caption {
  font-weight: bold;
}

.photo__license {
  text-align: right;
}
