.photo {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.photo__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 70vh;
}

.photo__countdown {
  position: absolute;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: black;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 1.5rem;
  opacity: 0.6;
}

.photo__countdown--expired {
  color: red;
}
